* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "gilroy-bold";
  src: url(/fonts/gilroy-bold.ttf);
}

@font-face {
  font-family: "gilroy-medium";
  src: url(/fonts/gilroy-medium.ttf);
}

@font-face {
  font-family: 'gilroy-semi-bold';
  src: url(/fonts/gilroy-semi-bold.ttf);
}

body {
  font-family: 'gilroy-bold', sans-serif;
}

.header {
  display: flex;
  padding-bottom: 83px;
  margin-left: 375px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img__header {
  padding-top: 40px;
}
.menu {
  font-family: 'gilroy-medium', sans-serif;
  display: flex;
  gap: 12px;
  padding-right: 375px;
  padding-top: 51px;
  padding-left: 500px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.current__link {
  font-family: 'gilroy-semi-bold', sans-serif;
}
a {
  text-decoration: none;
  white-space: nowrap;
}

.grow__be {
  padding-top: 45px;
  padding-left: 14px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.be {
  color: #f25822;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

.main {
  display: flex;
  gap: 41px;
  margin-left: 373px;
}

.big_text_main {
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.little_text_main {
  font-family: 'gilroy-medium', sans-serif;
  padding-top: 17px;
  padding-bottom: 37px;
  color: #888;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main__photo {
}
.button {
  display: flex;
  padding-left: 2px;
  gap: 72px;
}
.start__now {
  border-radius: 50px;
  background: #f25822;
  width: 140px;
  height: 50px;
  flex-shrink: 0;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.watch__video {
  color: #aaa;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: white;
  border: none;
}

.bottom {
  display: flex;
  gap: 48px;
  padding-top: 162px;
  margin-left: 345px;
  padding-bottom: 96px;
  padding-right: 375px;
}
