* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1174px;
  padding-bottom: 84px;
}

.grow__be {
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-right: 460px;
}

/* nav {
  display: inline;
  float: left;
} */

menu {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  /* padding-left: 460px; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.burger {
  display: none;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 26px;
  margin: 30px auto;
}
.burger::before,
.burger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  box-shadow: 0 11px 0 #000;
}

.burger::after {
  bottom: 0;
}

.icon__futures {
  padding-left: 6px;
}

.link__header {
  padding: 10px;
  text-decoration: none;
  white-space: nowrap;
}

.link__header:visited {
  color: #000;
}

.link__header .current__link {
  color: #f25822;
  font-weight: 600;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1174px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.big_text_home {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 20px;
}

.little_text_home {
  color: #888;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding-bottom: 32px;
}

.button {
  display: flex;
  gap: 48px;
}
.start__now {
  display: flex;
  max-width: 140px;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 56px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.watch__video {
  color: #aaa;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: white;
  border: none;
}

.home__photo {
  max-width: 100%;
}

.brand__logo {
  display: flex;
  flex-wrap: wrap;
  max-width: 1174px;
  margin: 0 auto;
  justify-content: center;
  gap: 48px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 61px;
  justify-content: space-between;
  max-width: 1174px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.block__features {
  padding: 40px 34px;
}
.features2 {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.features_icon {
  padding-bottom: 25px;
}

.features__big__text {
  padding-bottom: 18px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.features__litle__text {
  color: #666;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 25px;
}

.features__read__more {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FAFAFA;
}

.title__services {
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 24px;
}

.subtitle__services {
  color: #888;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding-bottom: 48px;
}

.container__services {
  display: flex;
  flex-wrap: wrap;
  max-width: 1174px;
  gap: 20px;
  margin: 0 auto;
}

.block__services {
  background-color: #fff;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.block__services__icon {
  max-width: 100%;
  padding-bottom: 32px;
}

.big__text__block__services {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 16px;
}

.litle_text__block__services {
  color: #666;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 24px;
}

.button_setvices__div {
  display: flex;
  justify-content: center;
  padding-bottom: 34px;

}

.button_setvices {
  padding: 16px 32px;
  border-radius: 56px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;

}

@media (max-width: 1200px) { 
  body {
    /* margin-left: 50px;
    margin-right: 50px ; */
  }

  header {
    margin-left: 50px;
    margin-right: 50px ;
  }
  
  .home {
    margin-left: 50px;
    margin-right: 50px ;
  }

  .brand__logo {
    margin-left: 50px;
    margin-right: 50px ;
  }

  .features {
    margin-left: 50px;
    margin-right: 50px ;
  }
  .grow__be {
    padding-right: 0;
  }
  .burger {
    display:block;
    margin-right: 0;
  }

  .link__header {
    display: none;
  }

  .features {
    justify-content: center;
  }

  .container__services {
    justify-content: center;
  }

}

@media (max-width: 500px) {
  .big_text_home {
    font-size: 45px;
  }

  .title__services {
    font-size: 35px;
  }
}